
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;



}

/* Fix for responsive images */

@media screen and (max-width: 600px) {
#nav .nav-about-wrapper, #nav .nav-contact-wrapper {
	position: absolute;
	text-decoration: none;
	top:10px;
	transform: rotate(90deg);
	padding-left:50px
	
}



#project1-intro-img {
	left: 10px;
}
#container-fluid-intro {

	padding: 0;
	margin: 0;
	padding-bottom: 300px;
	top:0;



}

#container-fluid-intro .row{	
	display: flex;
	left: 0;
	right: 0;
	top: 0;





}
.view-project-btn button{
	position: absolute;
	left: 220px;
	top: 430px;
	
	

}
.project-home-content h1, .project-home-content h4 {
	font-size: 18px;
	min-width: 400px;
	position: absolute;
	text-align: center;
	top: 280px
}
.project-home-content h1 {
	font-size: 32px;
}



.container-fluid-intro .col-xs-1 {
	
	left: 0;
	right: 0;

		
}


.project-number-indicator {
	display: none;
	
}



#container-fluid-intro .col-md-6 {
	right:0;
	top: 20px;
	padding: 0;
	margin: 0;
	

}


.col-xs-12 .project1-intro-img {
	right: 0;

}







}



}


.row {
     margin-left: 0;
     margin-right: 0;
}


img {
  max-width: 100%;

}

/* home-Basic */

body, html {
  height: 100%;
  
  

  
}
.about-container-fluid, body {
	
	background-image: -webkit-linear-gradient(left, #FFD7FB, #BCF9E6);
	background-image: -moz-linear-gradient(left, #FFD7FB, #BCF9E6);
	background-image: -o-linear-gradient(left, #FFD7FB, #BCF9E6);
	background-image: linear-gradient(left, #FFD7FB, #BCF9E6);
	

}

a {
	color: black;
	text-decoration: none;
}

h1 {
	
	font-size: 42px;
	line-height: 58px;
	font-family: 'playfair display', serif;
	font-weight: 700;
	letter-spacing: 2px;
	
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 36px;
	line-height: 40px;
	font-weight: 300;
}

h3 {
	font-family: 'playfair', serif;
	font-size: 24px;
	line-height: 32px;
	font-weight: 400;
	letter-spacing: 0px;
}

h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;

}

h5 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;

}

hr {
	border-top: 1px solid black;
	margin-right: 80px;
	margin-left: 80px;
	margin-top: 60px;
	margin-bottom: 60px;


}

ul {

	list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;

}

footer { 
	position: absolute;
	display: inline-flex;
	border: 3px solid black;
	margin-bottom: 0px;
	margin-right: 100px;
	float: right
	top:0;
	right:0;
	transform: translateY(-140%);


}

footer a{
padding: 15px;

}
button {
  position: absolute;
  left: 22%;
  top: 70%;

  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background: #fff;
  width: 160px;
  padding: 10px 5px;
  letter-spacing: 1px;
  border: 3px solid #76F2D4;
  color: #76F2D4;
  text-align: center;
  z-index: 2;
  -moz-transition: all 0.15s ease-out 0.15s;
  -o-transition: all 0.15s ease-out 0.15s;
  -webkit-transition: all 0.15s ease-out;
  -webkit-transition-delay: 0.15s;
  -webkit-transition: all 0.15s ease-out 0.15s;
  transition: all 0.15s ease-out 0.15s;
}

button:after, button:before {
  position: absolute;
  width: 100%;
  max-width: 100%;
  top: 100%;
  left: 0;
  bottom: -10px;
  content: '';
  z-index: 1;
  -moz-transition: all 0.15s ease-out 0.15s;
  -o-transition: all 0.15s ease-out 0.15s;
  -webkit-transition: all 0.15s ease-out;
  -webkit-transition-delay: 0.15s;
  -webkit-transition: all 0.15s ease-out 0.15s;
  transition: all 0.15s ease-out 0.15s;
}
button:before {
  background: #76F2D4;
  top: 10px;
  left: -15px;
  height: 100%;
  width: 15px;
}
button:after {
  width: 100%;
  background: #76F2D4;
  right: 0px;
  left: -15px;
  height: 15px;
}
button:hover {
  color: white;
  background: #76F2D4;
  color: #fff;
  margin-left: -7.5px;
  margin-bottom: -7.5px

}
button a:hover {
  color: black;
  text-decoration: none;

}
button:hover:after, button:hover:before {
  
  top: 100%;
  left: 0;
  bottom: 0px;
}
button:hover:before {
  
  top: 0px;
  left: 0px;
  width: 0px;
}
button:hover:after {
  right: 0px;
  left: 0px;
  height: 0px;
}




/* Home-Section 1 */

/* Header text animation */
.hero-text-title h1, .hero-text-sub h1 {
  
  letter-spacing: 3px;
  max-width: 100%;
  text-align: left;
  background: -webkit-linear-gradient( left, #00ffff 0%, #97fba0 25%, #97b1fb 50%, #FFD7FB 100%) repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-animation-name: masked-animation;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -8000px -3000px;
  }
}

.row { 
	display: flex;
}

.nav-about-wrapper, .nav-contact-wrapper {
	position: fixed;
	text-decoration: none;
	transform: translateY(-50%);
	top: 50%;
	z-index: 1;	
}
.nav-about-wrapper a, .nav-contact-wrapper a {
	color: #595A5A;
	text-decoration: none;
}

.nav-about-wrapper a:hover, .nav-contact-wrapper a:hover {
	

	color: #76F2D4;
}


.nav-about-wrapper h3, .nav-contact-wrapper h3 {
	transform: rotate(-90deg);

}

.nav-about-wrapper {
	left: 15px;
}

.nav-contact-wrapper {
	right: 15px;
}
.hero-text {
	text-align: left;
	color: #1E1F1F;
	margin: 15px;
	margin-bottom: 0px;


		
}

.hero-text-title {
	padding-top: 35px;

}

.hero-text-sub {
	padding-bottom: 1px
}
.nav-about-wrapper h3, .nav-contact-wrapper h3 {
	transform: rotate(-90deg);

}

.nav-about-wrapper {
	left: 15px;
}

.nav-contact-wrapper {
	right: 15px;
}

.scroll-down-btn {
	
	text-align: center;
	padding: 5px;
	margin: 20px

}
.scroll-down-btn h4, .scroll-down-btn a {
	color: #595A5A;
}
.scroll-down-btn a {
	
	text-decoration: none;

}
.container-fluid {
    /* The image used */
    /*background-image: url("../img/test2.jpg");*/
	background-color: #161923;
    /* Set a specific height */
    min-height: 740px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   



}

/* Home_Section 2 Project Intro */

/* Project 1 */

.container-fluid-intro {
	display: flex;
	justify-content: center;
	height: 100%;
	padding-top: 100px; 
	margin:10px;
	position: relative;
	flex-wrap: wrap;
	max-width:100%;


	
}
article {
	padding-bottom: 100px;
}

.project1-intro-img img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	width: 1440px;



}


.project1-intro-img:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	
}


.col-md-6 {
	z-index: 1;
	right: 40px;
	max-width:100%;



}

.col-md-6 img {
	z-index: 1;
	right: 40px;
	max-width:100%;


	

}

.col-md-4 {
	
	z-index:2;
	left: 200px;
	right:200px;
	max-width:100%;

	

		
}

.project-number-indicator h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.project-home-content {
	padding-top: 50px
	
}

/* About */

.about-container-fluid {
	background-color: #22FBCC;
	position: relative;
	height: 100%;
	color: black;

	
}

.close-btn h3 {
	margin: 0px;
	right: 60px;
	padding-top: 40px;
	position: fixed;

}
.about-list h2 {
	font-family: 'playfair display', serif;
	font-weight: 700;
	letter-spacing: 2px;


}

.about-expierence-list h5 , .about-skills-list h5, .about-designfocus-list h5 {
	padding-bottom: 20px;
}

.about-designfocus-list {
	height: 440px;

}


/* Contact */
.social-icon a {
	margin: 0px;
	padding-left: 15px;
	padding-right: 40px;

		
}

.social-icon {
	padding-top: 40px;
	height: 360px;
}
.contact-container-fluid {
	background-color: 3;
}
.contact-container-fluid h3 {
	font-size: 36px;
	padding: 20px 0px 20px 0px;

}

.close-btn h3 {
	margin: 0px;
	right: 60px;
	padding-top: 40px;
	position: fixed;

}

/* Project 1 The Naoshima Project */

.zoom {
	overflow: hidden;
	padding-bottom: 100%;
}
.zoom img{
	position: fixed;
	top: 0%;
	left: 50%;
	max-width: 100%;
	transform: translateX(-50%);
}
#zoom-1 {
	background: #eebac6;
}
.container-fluid-project .scroll-down-btn {
	position: absolute; 
	right:0;
	left:0;
    bottom: 0;
    z-index: 120;
    
}

.home-logo {
	padding-left: 40px;
	padding-top: 24px;
	position: fixed;
	z-index: 120;
	
}

.home-logo a {
	text-decoration: none;
	
}
.home-logo a:hover {
	text-decoration: none;
	color: #76F2D4;
	
}
.project-content {
	margin: 100px 0px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	background-color: white;
	box-shadow: 0px -10px 60px rgba(0,0,0,0.25);
	margin: 0;
	
}

.project-name h1{
	
	margin: 120px 0px 0px 0px;
	

}

.project-overview {
	
	padding: 80px 0px;
	
}

.project-overview h2, h4 {
	
	margin: 0px;

}

.secondary-image img{
	width:100%;
	height:100%;
	
	padding: 0px 20px 100px 20px;
}


.project-nav {
width: 100%;
background-color: white;


text-align: center;
top:0;
right:0;
left: 0;
}

.project-nav a:hover {
	color: #6DF0C8;
}


.scrolled {
  position: fixed;
  z-index: 100;
  box-shadow: 0px -10px 60px rgba(0,0,0,0.25);
  padding-bottom: 15px;

  
  
}
.project-nav a {
	padding:80px;
	text-decoration: none;
}

.project-nav h3 {
	font-size: 20px;
		
}
.project-content h4 {
	padding: 10px 0px 0px 0px;
}
.project-challenge h2, .project-process h2 {
	margin: 0px;
}
.project-challenge {
	
	padding-top: 120px;

}

.project-process {
	
	padding-top: 120px;
	


}
.secondary-content-gallery-half img {
	width:100%;
	height: 360px;
	padding-top: 40px;
	padding-bottom: 40px;
	
}

.secondary-content-gallery img {
	width:100%;
	padding-bottom: 100px;
	
	
}
.secondary-content-1 {
	
	padding-top: 40px;
	padding-bottom: 20px;
}

.secondary-content-2 {
	
	padding-top: 80px;
	padding-bottom: 40px;
}

.secondary-content-1 h2 , .secondary-content-2 h2, .secondary-content-3 h2, .design-content-3 h2 {
	font-size: 24px;
}


.project-design {
	padding-bottom: 40px;
	

}

.project-design h3 , .project-design h5 {
	padding-bottom: 30px;

}

.project-design h3 {
	font-weight: 700;
}


.design-content-1 {
	
	padding-top: 40px;
	padding-bottom: 80px;
	background-color: #eebac6;
	min-height: 680px;
	

}
.design-content-1 h2{
	margin-top: 40px;
	padding-bottom: 40px;
}


.design-content-gallery {

}
#nao-design .design-content-gallery {
	/*display: none;*/
	position: absolute;
	left: 500px; 
	width:100%;
	transition: all 0.5s ease-in;

}
#nao-design .nao-design-content-gallery-animation {
	display: block;
	left: 0;
	
}
.design-content-2 {
	
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
	background-color: white;
	


}
.seconday-content-center h3 {
	margin-top: 0px;
}
.design-content-gallery-center img {
	padding-top: 40px;
	width: 90%

}



.design-content-3 {
	width:100%;
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #eebac6;
	min-height: 580px;

}

.design-content-4 {
	padding: 50px 60px;
	text-align: center;
	
}

#Carousel i {
	position: absolute;
	left:40px;
	top: 50%;
	transform: translateY(-50%);
	

}
 iframe {
 	
 	padding-top: 40px;

 }

.project-next-btn button {
	
	display: flex;
	width: 220px;
	padding-top: 15px;
	padding-left: 30px;
	margin:40px 0px;

	

}
.project-next-btn {
	position: absolute;
	top:10;
	right:40px;
	bottom:10;
	margin: 0px 150px;
	margin-bottom: 100px;
}
.project-next-btn h4 {
	padding-top: 2px;

}

.project-back-btn button {
	
	display: flex;
	width: 220px;
	padding-top: 15px;
	padding-left: 30px;
	margin-top:50px;
	margin:40px 0px;
	

}
.project-back-btn {
	position: relative;
	top:10;
	float: left;
	left: 40px;
	bottom:10;
	margin: 0px 150px;
	margin-bottom: 100px;
}
.project-back-btn h4 {
	padding-top: 2px;

}
/* Project 2 SAP Run Live */

#zoom-2 {
	background: #ffc843;
}
#project-overview-intro {
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 10px;
    padding-bottom: 80px;


}

#project-overview-intro div {
	border-left: 1px solid #C8C9CC;
	padding-left: 40px;
}

#project-overview-intro h3 {
	font-size: 20px;
	margin-top: 0;
}

.design-content-gallery-1 {
/*	display: none;
*/	position: absolute;
	left: 500px;
	width: 100%;
	transition: all 0.5s ease-in;
	
}
.design-content-gallery-2 {
/*	display: none;
*/	/*position: absolute;*/
	left: 500px;
	width: 100%;
	transition: all 0.5s ease-in;
	
}

.sap-design-content-gallery-animation1 {
	display: block;
	left: 0;
}



.design-content-gallery-1 {
	padding-right: 10px;


}
.design-content-gallery-2 {
	padding-left: 10px;
	
}
#project-2 .design-content-1 {
	background-color: white;
	height: 1230px;
}

#project-2 .design-content-2 {
	background-color: #ffc843;
	margin-bottom:0; 
	height: 1420px;

}

#project-2 .design-content-3 {
	padding-bottom: 0;
	background-color: #fafafa;
	margin-top: 0;
	padding-top: 120px;
	text-align: center



}

#project-2 .design-content-3 h5 {
	padding-bottom: 0;
}
#project-2 .project-content {
	background-color: #fafafa;
	margin-bottom: 0;

}

#project-2 .secondary-image img {
	padding: 0px 20px;
}

#project-2 .design-content-gallery-center img
{
	padding-top: 0;
}
#project-2 .design-content-4 {
	padding: 0px 60px 100px 0px;
	height: 1320px;

}

/* Project 3 Tripwave */

#trip-design .design-content-1 {
	color: white;
	background-color: #454BE9;
	min-height: 830px;
}

#trip-design .design-content-gallery {
	/*display: none;*/
	position: absolute;
	left: 500px; 
	width:100%;
	transition: all 0.5s ease-in;
}

#trip-design .trip-design-content-gallery-animation {
	left: 40px;
	display: block;
}

#trip-design .design-content-2 {
	text-align: left;
	background-color: #F0F4F3;
	min-height: 800px;
}

#trip-design .design-content-3 {

	text-align: center;
	background-color: white;
	
}

#trip-design .design-content-4 {
	
	color: white;
	background-color: #454BE9;
	padding-top: 80px;
	min-height: 540px;
	text-align: left;

}

#trip-design .design-content-5 {
	background-color: #F0F4F3;
	padding-top: 80px;
	min-height: 540px;
	padding: 80px 60px;
	

}

#trip-design .design-content-6 {
	padding: 50px 60px;
		
}

#trip-design .design-content-6 {
	text-align: center;
}



/* Project 4 ONE HUNDRED */
#project-4 .design-content-1 {
	background-color: white;
	

}

#project-4 .design-content-2 {
	background-color: #99ede7;
	margin-top: 0;
	margin-bottom:0; 
	height: 1360px;
	text-align: center;

}

#project-4 .design-content-3 {
	margin-bottom: 0;
	margin-top: 40px;
	background-color: white;
	padding-top: 120px;
	text-align: center

}

#project-4 .design-content-3 h5 {
	padding-bottom: 0;
	
}
#project-4 .project-content {
	background-color: white;
	margin-bottom: 0;

}

#project-4 .secondary-image img {
	padding: 0px 20px;
}

#project-4 .design-content-gallery-center img
{
	padding-top: 0;
}
#project-4 .design-content-4 {
	padding: 0px 60px 0px 0px;
	height: 1000px;
	margin-top: 80px;
	text-align: center;
}









/* Project 5 Wild Adventure */

.project-challenge-content h2 {
	font-size: 24px;
	padding-top: 30px;
	padding-bottom: 5px;

}

.secondary-content-gallery-half img {
	padding-bottom: 0px;
}

#Carousel-1 i {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.wild-project-process .secondary-content-2 {
	padding-top: 40px;

}
#wild-design-content-5 {
	background-color: white;
	width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 580px;


}

#wild-design .design-content-1 {
	padding-top: 20px;
	color: white;
	background-color: #5BC388;
	min-height: 650px;
}
#wild-design .design-content-3 {
	
	color: white;
	background-color: #5BC388;
	min-height: 500px;
}

#wild-design .design-content-5 {
	
	
	
	min-height: 500px;
}

#project-5 .project-process {
	
	padding-top: 60px;
	
}

#museum-vid iframe {
 	padding-top: 20px;
 	padding-bottom: 100px;
    margin-left: 20%

 }

  #turf-vid iframe {
  	padding-top: 20px;
 	padding-bottom: 100px;
    margin-left: 20%

  }


  .design-critera-1 li {
 list-style-type: disc;
    list-style-position: outside;
    text-indent: -1.5em;
    padding: 5px 0px 5px 30px;

}

.design-critera-1 h3 {
	padding-top: 15px;
	letter-spacing: 0px;

  }

.secondary-content-3 {

	padding-top: 10px;
	padding-bottom: 10px;
}
#turf-design-wireframe.secondary-content-1{
	padding-top: 0px;
}

#turf-design .design-content-1 {
	padding-top: 20px;
	color: white;
	background-color: #B3B7EC;
	min-height: 650px;
}

#turf-design .design-content-3 {
	color: white;
	background-color: #B3B7EC;
	min-height: 10%;
	
}
#design-content-21 .design-content-2 {
	padding-top: 20px;
	max-height: 
}
#turf-design .design-content-5 {
	padding-top: 50px;
	padding-bottom: 100px;
	
}
